html{
    font-size: 20px;
    font-family: "Kalnia Glaze";
    background-color: #28A835;
}
h1{
    font-size: 50px;
    text-align: center;
    padding: 10px 10px 10px 10px ;
    text-shadow: 3px 3px 1px #8E7338;
    margin: 0 auto;
}
li{
    line-height: 2;
    letter-spacing: 2px;
    font-size: 20px
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: #8E7338;
    padding: 0 20px 20px 20px ;
    border: 5px solid white;
}
img{
    margin: 0 auto;
    display: block;
}